@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM GLOBAL STYLES */

:root {
  --background: #540094;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #3d0066;
    --foreground: #f9f9f9;
  }
}

body {
  @apply bg-[var(--background)] text-[var(--foreground)] font-quiz;
}